parameters:
    level: 7
    paths:
        - app
        - tests

    ignoreErrors:
    # TODO: Laravel 9 Error
    - '/Method App\\Http\\Middleware\\Authenticate::redirectTo\(\) should return string\|null but return statement is missing./'
    - '/Method App\\Http\\Middleware\\RedirectIfAuthenticated::handle\(\) has parameter \$guards with no type specified./'
